<%for (var i in data) {%>

<li class="list-inline">
	<h3 class="comment-title">
		name:<span class="comment-title-id"><%=data[i]['name'] %></span><span class="place"><%=data[i]['poi_name'] %></span>
	</h3>
	<article class="comment-text"><%=data[i]['content'] %></article>
</li>
<% } %>